---
import Layout from '@layouts/Layout.astro';
import Banner from '@components/Banner.astro';
import Portfolio from '@components/Portfolio';
import type { PortfolioType } from '@types/Portfolio';
import { Image } from "astro:assets";

const works = [
	{
		id: 0,
		role: 'Front-end Developer',
		href: 'https://www.dentsucreative.com/',
		hrefLabel: "Redirect to Dentsu Creative's site",
		company: 'Dentsu Creative',
		date: 'April 2023 - Present',
	},
	{
		id: 1,
		role: 'Full Stack Developer',
		href: 'https://devlift.com/',
		hrefLabel: "Redirect to Devlift Media's site",
		company: 'Devlift Media',
		date: 'Dec 2016 - April 2023',
	},
	{
		id: 2,
		role: 'Graphic Design Intern',
		href: 'http://www.buzzpr.ca/',
		hrefLabel: "Redirect to BuzzPR's site",
		company: 'BuzzPR',
		date: 'Aug 2016 - Sept 2016',
	}
];

const educations = [
	{
		id: 0,
		role: 'Interactive Media Specialist',
		href: 'https://www.fanshawec.ca/programs/ims1-interactive-media-specialist/next',
		hrefLabel: "Redirect to Fanshawe College's site",
		company: 'Fanshawe College',
		date: 'Sept 2015 - Apr 2016',
	},
	{
		id: 1,
		role: 'Graphic Design',
		href: 'https://www.fanshawec.ca/programs/grd1-graphic-design/next',
		hrefLabel: "Redirect to Fanshawe College's site",
		company: 'Fanshawe College',
		date: 'Sept 2011 - Apr 2014',
	}
];

const portfolioItems: PortfolioType[] = [
  {
    id: 0,
    imgSrc: '/portfolio/starwars_thumbnail.png',
    imgSrcAlt: 'Starwars',
    title: 'Starwars',
    type: "Web",
    description: `
			This project involves retrieving data from an API to construct a web application. The objective was to present a comprehensive list of characters and provide detailed information about each character.
    `,
		siteLink: 'https://roaring-liger-fcf8b7.netlify.app/',
    repoLink: 'https://github.com/randyphalla/swapi-ajax/tree/development/fetch-api',
    languages: 'HTML5, CSS3, Foundation 6, JavaScript and Gulp',
  },
  {
    id: 1,
    imgSrc: '/portfolio/marvel_thumbnail.png',
    imgSrcAlt: 'Marvel',
    title: 'Marvel',
    type: "Web / Mobile",
    description: `
			This project involves retrieving data from an API to develop a mobile application with the goal of showcasing a comprehensive list of superheroes. The primary objective is to enable users to view detailed information about each superhero by clicking on their respective profiles.
    `,
		siteLink: 'https://serene-beijinho-2a498a.netlify.app/',
    repoLink: 'https://github.com/randyphalla/marvel-expo-app',
    languages: 'React Native, Expo and CSS-in-JS',
  },
  {
    id: 2,
    imgSrc: '/portfolio/pokemon_thumbnail.png',
    imgSrcAlt: 'Pokemon',
    title: 'Pokemon',
    type: "Web / Mobile",
    description: `
			This project revolves around fetching data from an API to construct a mobile application. The aim is to present a list of Pokémon and provide detailed information about each Pokémon upon user interaction.
    `,
		siteLink: 'https://lucent-banoffee-173852.netlify.app/',
    repoLink: 'https://github.com/randyphalla/pokemon-expo-app',
    languages: 'React Native, Expo and CSS-in-JS',
  },
  {
    id: 3,
    imgSrc: '/portfolio/musicbook_thumbnail.png',
    imgSrcAlt: 'Musicbook',
    title: 'Musicbook',
    type: "Web",
    description: `
			This project entails the development of a music app using PHP and MySQL. Users can register and log in to their accounts, where they gain the ability to favorite or unfavorite artists, albums, songs, and playlists. Additionally, users can create, update, and delete their personalized playlists.
    `,
    repoLink: 'https://github.com/randyphalla/musicbook-php-mysql',
    languages: 'HTML5, CSS3, Bootstrap v5, PHP and MySQL',
  },
	{
		id: 4,
    imgSrc: '/portfolio/gmlive_thumbnail.png',
    imgSrcAlt: 'GM Live',
    title: 'GM Live',
    type: "Web",
    description: `
			At Dentsu Creative, our team built a virtual experience that allows participants to interact one-on-one with EV specialists and learn everything about electric vehicles.
		`,
		client: 'GM (General Motors)',
		sites: [
			{
				id: 0,
				name: 'Chevy',
				link: 'https://www.chevrolet.com/live',
			},
			{
				id: 1,
				name: 'Cadillac',
				link: 'https://www.cadillac.com/live',
			},
			{
				id: 2,
				name: 'GMC',
				link: 'https://www.gmc.com/live',
			},
			{
				id: 3,
				name: 'Buick',
				link: 'https://www.buick.com/live',
			},
			{
				id: 4,
				name: 'EV US',
				link: 'https://evlive.gm.com/livee',
			},
			{
				id: 5,
				name: 'EV CAN',
				link: 'https://evlive.gm.ca/en/live',
			},
			{
				id: 6,
				name: 'Energy',
				link: 'https://www.ultiumhome.com/energy-live',
			},
		],
    languages: 'Material UI, TypeScript, React, React Native, Firebase (Firestore & Functions) and Vonage Video API (TokBox OpenTok)',
	},
	// {
	// 	id: 5,
	// 	imgSrc: '',
	// 	imgSrcAlt: 'The Annex',
	// 	title: 'Thn Annex',
	// 	type: 'Web',
	// 	description: '',
	// 	client: '',
	// 	site: 'https://theannex.com/',
	// 	languages: 'HTML5, CSS3, JavaScript, ReactJS, Storybook',
	// }
];
---

<Layout title="Home">

	<Banner
		name="Randy Phalla"
		role="Front-end Developer"
	/>

	<section id="about" class="py-10 px-4 dark:bg-gray-900 ">
		<h3 class="hidden">About me</h3>
		<div class="max-w-screen-xl mx-auto">
			<h4 class="title-gradient title-gradient--about mb-5 dark:text-white font-bold text-3xl">About</h4>
			<div class="flex justify-between items-start flex-col lg:flex-row">
				<!-- <img class="hidden lg:block w-full lg:w-80 rounded-lg" src="/me.jpeg" alt="Portrait of Randy Phalla" /> -->
				<Image
					class="hidden lg:block w-full lg:w-80 rounded-lg"
					src="/me.jpeg"
					alt="Portrait of Randy Phalla"
					loading="lazy"
					decoding="async"
					width="320"
					height="320"
				/>
				<div class="lg:ml-8">
					<p class="mb-4 dark:text-white text-base md:text-lg leading-7 md:leading-8 text-pretty">I'm a Front-end Developer based in London, Ontario. I graduated from Fanshawe college with an advanced diploma in Graphic Design and a certificate in Interactive Media Specialist. I specialize in responsive design, accessibility, and UI/UX.</p>
					<p class="mb-4 dark:text-white text-base md:text-lg leading-7 md:leading-8 text-pretty">I'm currently working at <a class="font-bold hover:text-gray-600 underline underline-offset-2" href="https://www.dentsucreative.com/" target="_blank" aria-label="Redirect to Dentsu Creative's site">Dentsu Creative</a> as a Front-end Developer. I led the frontend team at GM Live. In addition, My responsibilities include building user interfaces, implementing theming, new features into the platform, debugging and problem-solving.</p>
					<!-- <p class="mb-4 dark:text-white text-base md:text-lg leading-7 md:leading-8 text-pretty">My previous role was at <a class="font-bold hover:text-gray-600 underline underline-offset-2" href="https://devlift.com/" target="_blank" aria-label="Redirect to Devlift Media's site">Devlift Media</a> as a Full Stack Developer. I led front-end and back-end projects with a focus on web apps and mobile development. In addition, I manage projects, build components, structure layouts, theming, review and debug code, deploy products, develop client relationships, collaborate with designers, developers and clients, and mentor junior developers teaching best practices.</p> -->
					<p class="mb-4 dark:text-white text-base md:text-lg leading-7 md:leading-8 text-pretty">In my previous role at  <a class="font-bold hover:text-gray-600 underline underline-offset-2" href="https://devlift.com/" target="_blank" aria-label="Redirect to Devlift Media's site">Devlift Media</a> as a Full Stack Developer, I lead both front-end and back-end projects, emphasizing web applications and mobile development. My responsibilities encompassed project management, component development, layout structuring, theming, code review, debugging, product deployment, mentoring junior developers, and collaboration with designers, developers, and clients.</p>

					<p class="mb-4 dark:text-white text-base md:text-lg leading-7 md:leading-8 text-pretty">As a developer, it's important to keep up with the ever evolving tech industry. I am always eager to learn new skills and technologies to add to my skill set.</p>
					<p class="mb-4 dark:text-white text-base md:text-lg leading-7 md:leading-8 text-pretty">Outside of work, I enjoy interactive media, consuming culture through TV and film, and outdoor physical activities.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="skills" class="py-10 px-4 dark:bg-gray-900">
		<h3 class="hidden">Skills</h3>
		<div class="max-w-screen-xl mx-auto">
			<h4 class="title-gradient title-gradient--skills mb-5 dark:text-white font-bold text-3xl">Skills</h4>
			<div class="">
				<p class="mb-4 text-gray-900 dark:text-white text-base md:text-lg leading-7 md:leading-8"><span class="font-bold">Front-end development:</span> HTML5, CSS3 (SCSS), Responsive Web Design, Accessibility, JavaScript (ES6+), TypeScript, Angular (2+), Ionic, React, React Native, Astro, Gulp, Storybook, Material UI, Storybook, Tailwind, and Bootstrap (3+).</p>
				<p class="mb-4 text-gray-900 dark:text-white text-base md:text-lg leading-7 mexcellingd:leading-8"><span class="font-bold">Back-end development:</span> Firebase, PHP, MySQL and noSQL.</p>
				<p class="mb-4 text-gray-900 dark:text-white text-base md:text-lg leading-7 md:leading-8"><span class="font-bold">Project management:</span> Trello and JIRA.</p>
				<p class="mb-4 text-gray-900 dark:text-white text-base md:text-lg leading-7 md:leading-8"><span class="font-bold">Tools:</span> Adobe (Photoshop, Illustrator & XD), Figma, Sketch, Microsoft (Teams, Excel & Word), GitHub, Sourcetree, and Slack.</p>
			</div>
		</div>
	</section>

	<section id="work" class="py-10 px-4 dark:bg-gray-900">
		<h3 class="hidden">Work Experience</h3>
		<div class="max-w-screen-xl mx-auto">
			<h4 class="title-gradient title-gradient--work dark:text-white mb-5 font-bold text-3xl">Work experience</h4>
			<div class="">
				{works.map((work) => (
					<div class="mb-4">
						<h4 class="text-gray-900 dark:text-white font-bold text-base md:text-lg leading-7 md:leading-8">{work.role} <a class="ml-1 hover:text-gray-600 hover:underline hover:underline-offset-2" href={work.href} target="_blank" aria-label={work.hrefLabel}>@{work.company}</a></h4>
						<p class="text-gray-700 dark:text-gray-300 text-sm md:text-base leading-7">{work.date}</p>
					</div>
				))}
			</div>
		</div>
	</section>

	<section id="education" class="py-10 px-4 dark:bg-gray-900">
		<h3 class="hidden">Education</h3>
		<div class="max-w-screen-xl mx-auto">
			<h3 class="title-gradient title-gradient--education mb-5 dark:text-white font-bold text-3xl">Education</h3>
			<div class="">
				{educations.map((education) => (
					<div class="mb-4">
						<h4 class="text-gray-900 dark:text-white font-bold text-base md:text-lg leading-7 md:leading-8">{education.role} <a class="ml-1 hover:text-gray-600 hover:underline hover:underline-offset-2" href={education.href} target="_blank" aria-label={education.hrefLabel}>@{education.company}</a></h4>
						<p class="text-gray-700 dark:text-gray-300 text-sm md:text-base leading-7">{education.date}</p>
					</div>
				))}
			</div>
		</div>
	</section>

	<Portfolio
    client:load
    portfolios={portfolioItems}
  />

</Layout>
