---
import Layout from '@layouts/Layout.astro';
import Banner from '@components/Banner.astro';
import Portfolio from '@components/Portfolio';
import type { PortfolioType } from '@types/Portfolio';
import { Image } from "astro:assets";

type WorkType = {
	id: number;
	role: string;
	href: string;
	hrefLabel: string;
	company: string;
	date: string;
	description?: string;
	languagesUsed?: string[];
};

type EducationType = {
	id: number;
	role: string;
	href: string;
	hrefLabel: string;
	company: string;
	date: string;
	degree: string;
};

const works: WorkType[] = [
	{
		id: 0,
		role: 'Senior Front End Developer',
		href: 'https://www.dentsucreative.com/',
		hrefLabel: "Redirect to Dentsu Creative's site",
		company: 'Dentsu Creative',
		date: 'Apr 2023 - Dec 2024',
		description: 'Developed and implemented the GM Live Admin Panel, a web application for managing vehicles, topics, events, and localization across multiple brands. Designed and implemented a Material UI-based design system for the GM Live website for General Motors, creating custom themes for each brand to ensure platform consistency and enhance brand alignment. Led the development to revamp the Lounge and Showroom interfaces, enhancing user interaction and engagement through collaboration with a cross-functional team and extensive QA testing.',
		languagesUsed: ['Material UI', 'JavaScript', 'TypeScript', 'React', 'Firebase'],
	},
	{
		id: 1,
		role: 'Senior Web Developer',
		href: 'https://devlift.com/',
		hrefLabel: "Redirect to Devlift Media's site",
		company: 'Devlift Media',
		date: 'Dec 2016 - Apr 2023',
		description: 'Develop, style, and deliver high-quality websites, design systems, theme systems, mobile applications, and cross-platform digital experiences for a diverse range of clients. Designed and implemented a theme-based design system for a hospital learning platform using React, Tailwind CSS, and Storybook, creating reusable UI components. Led a small team to redesign a hotel website, increasing direct bookings by 50%, and ensuring a seamless user experience. Mentor junior developers by offering guidance on best practices, development workflows, and providing technical support. Ensured accessibility by following A11y and WCAG guidelines, sharing knowledge with peers, and implementing automated end-to-end testing with Cypress to improve QA efficiency',
		languagesUsed: ['Bootstrap', 'Material UI', 'Tailwind CSS', 'JavaScript', 'TypeScript', 'React', 'React Native', 'Angular', 'Ionic', 'Storybook', 'Redux', 'Firebase','PHP', 'Node.js', 'Express', 'MySQL', 'NoSQL'],
	},
	{
		id: 2,
		role: 'Graphic Design Intern',
		href: 'http://www.buzzpr.ca/',
		hrefLabel: "Redirect to BuzzPR's site",
		company: 'BuzzPR',
		date: 'Aug 2016 - Sept 2016',
		description: '',
		languagesUsed: ['Photoshop', 'Illustrator'],
	}
];

const educations: EducationType[] = [
	{
		id: 0,
		role: 'Interactive Media Specialist',
		href: 'https://www.fanshawec.ca/programs/ims1-interactive-media-specialist/next',
		hrefLabel: "Redirect to Fanshawe College's site",
		company: 'Fanshawe College',
		date: 'Sept 2015 - Apr 2016',
		degree: 'Graduate Certificate',
	},
	{
		id: 1,
		role: 'Graphic Design',
		href: 'https://www.fanshawec.ca/programs/grd1-graphic-design/next',
		hrefLabel: "Redirect to Fanshawe College's site",
		company: 'Fanshawe College',
		date: 'Sept 2011 - Apr 2014',
		degree: 'Advanced Diploma',
	}
];

const portfolioItems: PortfolioType[] = [
{
		id: 1,
    imgSrc: '/portfolio/gmlive_thumbnail.png',
    imgSrcAlt: 'GM Live',
    title: 'GM Live',
    type: "Web",
		projectType: "Work",
    description: `
			At Dentsu Creative, our team built a virtual experience that allows participants to interact one-on-one with EV specialists and learn everything about electric vehicles.
		`,
		client: 'GM (General Motors)',
		siteURL: 'https://gmenergy.gm.com/for-home/energy-live',
    languages: 'Material UI, JavaScript, TypeScript, React, React Native, Firebase (Firestore, Functions and Hosting), Vonage Video API (OpenTok) and Symbl.ai',
	},
	{
		id: 2,
		imgSrc: '/portfolio/annex_thumbnail.png',
		imgSrcAlt: 'The Annex',
		title: 'The Annex',
		type: 'Web',
		projectType: "Work",
		description: 'At Devlift Media, I designed and developed UI components and implemented theming for the website, while mentoring a junior developer on their usage to build the site effectively. I provided guidance on best practices for layouts, animations, accessibility, and programming to ensure a high-quality user experience. Additionally, I handled the website deployment using Firebase Hosting, ensuring a smooth and efficient launch.',
		client: 'The Annex Hotel',
		languages: 'HTML5, CSS3, Bootstrap, TypeScript ReactJS, Storybook and Firebase (Firestore, Functions and Hosting)',
		siteURL: 'https://theannex.com/',
	},
	{
		id: 3,
		imgSrc: '/portfolio/spotify_thumbnail.png',
		imgSrcAlt: 'Spotify',
		title: 'Spotify',
		type: 'Web',
		projectType: "Side Project",
		description: 'I built a React application using Vite with TypeScript and Tailwind CSS to ensure fast development and modern styling. The app features a responsive UI powered by Tailwind CSS and integrates the Spotify API to authenticate users and retrieve their profile details, top artists, playlists, tracks, and recent activity. For seamless navigation, I implemented React Router. React Query was used to optimize data fetching, caching, and state management, providing a smoother and more responsive user experience.',
		languages: 'HTML, CSS, JavaScript/TypeScript, React, Tailwind CSS, React Query and Vite',
		siteURL: 'https://candid-bombolone-fedd08.netlify.app/',
		repoURL: 'https://github.com/randyphalla/spotify-react-app',
	},
  {
    id: 4,
    imgSrc: '/portfolio/starwars_thumbnail.png',
    imgSrcAlt: 'Starwars',
    title: 'Starwars',
    type: "Web",
		projectType: "School Project",
    description: `This project focuses on fetching data from an API to develop a web application that showcases a comprehensive list of characters. Users can browse the list and access detailed information about each character, creating an informative and interactive experience. `,
		siteURL: 'https://roaring-liger-fcf8b7.netlify.app/',
    repoURL: 'https://github.com/randyphalla/swapi-ajax/tree/development/fetch-api',
    languages: 'HTML5, CSS3, Foundation 6, JavaScript and Gulp',
  },
  {
    id: 5,
    imgSrc: '/portfolio/marvel_thumbnail.png',
    imgSrcAlt: 'Marvel',
    title: 'Marvel',
    type: "Web / Mobile",
		projectType: "School Project",
    description: `This project focuses on fetching data from an API to develop a mobile application that presents a comprehensive list of superheroes. Users can explore the list and access detailed information about each superhero by selecting their profile, creating an engaging and interactive experience. `,
		siteURL: 'https://serene-beijinho-2a498a.netlify.app/',
    repoURL: 'https://github.com/randyphalla/marvel-expo-app',
    languages: 'React Native, Expo and CSS-in-JS',
  },
  {
    id: 6,
    imgSrc: '/portfolio/pokemon_thumbnail.png',
    imgSrcAlt: 'Pokemon',
    title: 'Pokemon',
    type: "Web / Mobile",
		projectType: "School Project",
    description: `This project focuses on retrieving data from an API to build a mobile application that displays a list of Pokémon. Users can browse the list and tap on a Pokémon to view detailed information, enhancing their experience with interactive and dynamic content.`,
		siteURL: 'https://lucent-banoffee-173852.netlify.app/',
    repoURL: 'https://github.com/randyphalla/pokemon-expo-app',
    languages: 'React Native, Expo and CSS-in-JS',
  },
  {
    id: 7,
    imgSrc: '/portfolio/musicbook_thumbnail.png',
    imgSrcAlt: 'Musicbook',
    title: 'Musicbook',
		projectType: "School Project",
    type: "Web",
    description: `
		This project involves developing a music app using PHP and MySQL, allowing users to register and log in to their accounts. Once logged in, users can favorite or unfavorite artists, albums, songs, and playlists. They also have full control over their personalized playlists, with the ability to create, update, and delete them seamlessly.`,
    repoURL: 'https://github.com/randyphalla/musicbook-php-mysql',
    languages: 'HTML5, CSS3, Bootstrap v5, PHP and MySQL',
  },
];
---

<Layout title="Home">

	<!-- Banner -->
	<Banner
		name="Randy Phalla"
		role="Front End Web Developer"
		description="I build responsive, accessible, and pixel-perfect web interfaces"
	/>

	<!-- About -->
	<section id="about" class="py-10 px-4 md:px-8 bg-white dark:bg-gray-900 ">
		<h3 class="hidden">About me</h3>
		<div class="max-w-screen-xl mx-auto">
			<h4 class="mb-5 dark:text-white font-bold text-3xl">About</h4>
			<div class="flex justify-between items-start flex-col lg:flex-row">
				<Image
					class="hidden lg:block w-full lg:w-80 rounded-lg"
					src="/me.jpeg"
					alt="Portrait of Randy Phalla"
					loading="lazy"
					decoding="async"
					width="320"
					height="320"
				/>
				<div class="lg:ml-8">
					<p class="mb-4 text-gray-700 dark:text-gray-400 text-base md:text-lg leading-7 md:leading-8 text-pretty">I'm passionate about building accessible, responsive, and pixel-perfect user interfaces that prioritize intuitive navigation and elevate user satisfaction. I strive to bridge the gap between design and development by delivering clean, efficient, and maintainable code while ensuring usability for all users.</p>
					<p class="mb-4 text-gray-700 dark:text-gray-400 text-base md:text-lg leading-7 md:leading-8 text-pretty">I recently worked at <a class="font-bold hover:text-gray-600 underline underline-offset-2" href="https://www.dentsucreative.com/" target="_blank" aria-label="Redirect to Dentsu Creative's site">Dentsu Creative</a> as as a Senior Front-End Developer, where I led the frontend team on GM Live. I contributed to theme building for each brand, maintained and enhanced existing UI components powering GM Live's frontend, and ensured the platform adhered to web accessibility standards and best practices to deliver an inclusive user experience.</p>

					<!-- <p class="mb-4 text-gray-700 dark:text-gray-400 text-base md:text-lg leading-7 md:leading-8 text-pretty">In my previous role at  <a class="font-bold hover:text-gray-600 underline underline-offset-2" href="https://devlift.com/" target="_blank" aria-label="Redirect to Devlift Media's site">Devlift Media</a> as a Full Stack Developer, I lead both front-end and back-end projects, emphasizing web applications and mobile development. My responsibilities encompassed project management, component development, layout structuring, theming, code review, debugging, product deployment, mentoring junior developers, and collaboration with designers, developers, and clients.</p>
					<p class="mb-4 text-gray-700 dark:text-gray-400 text-base md:text-lg leading-7 md:leading-8 text-pretty">As a developer, it's important to keep up with the ever evolving tech industry. I am always eager to learn new skills and technologies to add to my skill set.</p>
					<p class="mb-4 text-gray-700 dark:text-gray-400 text-base md:text-lg leading-7 md:leading-8 text-pretty">Outside of work, I enjoy interactive media, consuming culture through TV and film, and outdoor physical activities.</p> -->

					<p class="mb-4 text-gray-700 dark:text-gray-400 text-base md:text-lg leading-7 md:leading-8 text-pretty">In the past, I've had the opportunity to work with clients across various industries, including hospitality, healthcare, marketing, real estate, finance, and social platforms.</p>

					<p class="mb-4 text-gray-700 dark:text-gray-400 text-base md:text-lg leading-7 md:leading-8 text-pretty">In my spare time, I enjoy working out, watching TV shows, anime, and movies, or playing video games—always chasing that platinum trophy.</p>

					<a
						class="text-gray-700 dark:text-gray-400 text-base md:text-lg leading-7 md:leading-8 text-pretty underline underline-offset-2 hover:text-gray-600 transition-all"
						href="./Randy_Phalla_Resume.pdf"
						target="_blank"
						aria-label="Open resume pdf to new tab"
					>
						View Resume
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- Skills -->
	<section id="skills" class="py-10 px-4 md:px-8 bg-white dark:bg-gray-900">
		<h3 class="hidden">Skills</h3>
		<div class="max-w-screen-xl mx-auto">
			<h4 class="mb-5 dark:text-white font-bold text-3xl">Skills</h4>
			<div class="">
				<p class="mb-4 text-gray-700 dark:text-gray-400 text-base md:text-lg leading-7 md:leading-8"><span class="text-gray-900 dark:text-white font-bold">Programming Languages</span> JavaScript, TypeScript, HTML, CSS, PHP</p>
				<p class="mb-4 text-gray-700 dark:text-gray-400 text-base md:text-lg leading-7 mexcellingd:leading-8"><span class="text-gray-900 dark:text-white font-bold">Technologies:</span> React, Angular, React Native, Ionic, Redux, Firebase, Node.js, Express, Sass/SCSS, Material UI, Tailwind CSS, Bootstrap, Storybook, Cypress, Playwright, Git</p>
				<p class="mb-4 text-gray-700 dark:text-gray-400 text-base md:text-lg leading-7 mexcellingd:leading-8"><span class="text-gray-900 dark:text-white font-bold">Databases:</span> NoSQL, MongoDB, MySQL</p>
				<p class="mb-4 text-gray-700 dark:text-gray-400 text-base md:text-lg leading-7 md:leading-8"><span class="text-gray-900 dark:text-white font-bold">API Integration:</span> REST API, Fetch API, Axios</p>
				<p class="text-gray-700 dark:text-gray-400 text-base md:text-lg leading-7 md:leading-8"><span class="text-gray-900 dark:text-white font-bold">CI/CD:</span> Jenkins, CircleCI, Bitbucket Pipelines, GitHub Actions</p>
			</div>
		</div>
	</section>

	<!-- Work -->
	<section id="work" class="py-10 px-4 md:px-8 bg-white dark:bg-gray-900">
		<h3 class="hidden">Work Experience</h3>
		<div class="max-w-screen-xl mx-auto">
			<h4 class="dark:text-white mb-5 font-bold text-3xl">Work experience</h4>
			<div class="">
				{works.map((work: WorkType) => (
					<div class="pb-8 last:pb-0">
						<h4 class="text-gray-900 dark:text-white font-bold text-base md:text-lg leading-7 md:leading-8">{work.role} @ <a class="ml-1 hover:text-gray-600 hover:underline hover:underline-offset-2" href={work.href} target="_blank" aria-label={work.hrefLabel}>{work.company}</a></h4>
						<p class="text-gray-700 dark:text-gray-400 text-sm md:text-base leading-7">{work.date}</p>
						{work.description && (
							<p class="mt-3 text-gray-700 dark:text-gray-400 text-base md:text-lg leading-7 md:leading-8 text-pretty">{work.description}</p>
						)}
						{work.languagesUsed && (
							<div class="mt-3 flex flex-wrap gap-3">
								{work.languagesUsed.map((language) => <div class="w-auto px-2 py-1 text-gray-700 dark:text-gray-400 border text-sm rounded-2xl">{language}</div>)}
							</div>
						)}
					</div>
				))}
			</div>
		</div>
	</section>

	<!-- Education -->
	<section id="education" class="py-10 px-4 md:px-8 bg-white dark:bg-gray-900">
		<h3 class="hidden">Education</h3>
		<div class="max-w-screen-xl mx-auto">
			<h3 class="mb-5 dark:text-white font-bold text-3xl">Education</h3>
			<div class="">
				{educations.map((education: EducationType) => (
					<div class="pb-8 last:pb-0">
						<h4 class="text-gray-900 dark:text-white font-bold text-base md:text-lg leading-7 md:leading-8">{education.role} @ <a class="ml-1 hover:text-gray-600 hover:underline hover:underline-offset-2" href={education.href} target="_blank" aria-label={education.hrefLabel}>{education.company}</a></h4>
						<p class="text-gray-700 dark:text-gray-400 text-sm md:text-base leading-7">{education.date}</p>
					</div>
				))}
			</div>
		</div>
	</section>

	<!-- Portfolio -->
	<Portfolio
    client:load
    portfolios={portfolioItems}
  />

</Layout>
