---
import Layout from '@layouts/Layout.astro';
import Banner from '@components/Banner.astro';
import Portfolio from '@components/Portfolio';
import type { PortfolioType } from '@types/Portfolio';

const works = [
	{
		role: 'Full Stack Developer',
		href: 'https://devlift.com/',
		hrefLabel: "Redirect to Devlift Media's site",
		company: 'Devlift Media',
		date: 'Dec 2016 - Present',
	},
	{
		role: 'Graphic Design Intern',
		href: 'http://www.buzzpr.ca/',
		hrefLabel: "Redirect to BuzzPR's site",
		company: 'BuzzPR',
		date: 'Aug 2016 - Sept 2016',
	}
];

const educations = [
{
		role: 'Interactive Media Specialist',
		href: 'https://www.fanshawec.ca/programs/ims1-interactive-media-specialist/next',
		hrefLabel: "Redirect to Fanshawe College's site",
		company: 'Fanshawe College',
		date: 'Sept 2015 - Apr 2016',
	},
	{
		role: 'Graphic Design',
		href: 'https://www.fanshawec.ca/programs/grd1-graphic-design/next',
		hrefLabel: "Redirect to Fanshawe College's site",
		company: 'Fanshawe College',
		date: 'Sept 2011 - Apr 2014',
	}
];

const portfolioItems: PortfolioType[] = [
  {
    id: 0,
    imgSrc: '/portfolio/starwars_thumbnail.png',
    imgSrcAlt: 'Starwars',
    title: 'Starwars',
    type: "Web",
    description: `
      This project is about fetching data from a server and build a web application. The goal was to display a list of character and display the detail of that character.
    `,
		siteLink: 'https://roaring-liger-fcf8b7.netlify.app/',
    repoLink: 'https://github.com/randyphalla/swapi-ajax/tree/development/fetch-api',
    languages: 'HTML5, CSS3, Foundation 6, JavaScript and Gulp',
  },
  {
    id: 1,
    imgSrc: '/portfolio/marvel_thumbnail.png',
    imgSrcAlt: 'Marvel',
    title: 'Marvel',
    type: "Web / Mobile",
    description: `
      This project is about fetching data from a server and build a mobile application. The goal was to display a list of superheroes and display the detail of that superhero on click.
    `,
		siteLink: 'https://serene-beijinho-2a498a.netlify.app/',
    repoLink: 'https://github.com/randyphalla/marvel-expo-app',
    languages: 'React Native, Expo and CSS-in-JS',
  },
  {
    id: 2,
    imgSrc: '/portfolio/pokemon_thumbnail.png',
    imgSrcAlt: 'Pokemon',
    title: 'Pokemon',
    type: "Web / Mobile",
    description: `
      This project is about fetching data from a server and build a mobile application. The goal was to display a list of Pokémon's and display the details of that Pokémon on click.
    `,
		siteLink: 'https://lucent-banoffee-173852.netlify.app/',
    repoLink: 'https://github.com/randyphalla/pokemon-expo-app',
    languages: 'React Native, Expo and CSS-in-JS',
  },
  {
    id: 3,
    imgSrc: '/portfolio/musicbook_thumbnail.png',
    imgSrcAlt: 'Musicbook',
    title: 'Musicbook',
    type: "Web",
    description: `
      This project is about creating music app using PHP & MySQL. Users are able to create a user account and login with your new account, users have the ability to favorite/unfavorite their artists, albums, songs, playlist and users and able to create, update and delete their own playlist.
    `,
		// siteLink: '',
    repoLink: 'https://github.com/randyphalla/musicbook-php-mysql',
    languages: 'HTML5, CSS3, Bootstrap v5, PHP and MySQL',
  },
];
---

<Layout title="Home">

	<Banner
		name="Randy Phalla"
		role="Full Stack Developer"
	/>

	<section id="about" class="py-10 px-4 dark:bg-gray-900 ">
		<h3 class="hidden">About me</h3>
		<div class="max-w-screen-xl mx-auto">
			<h4 class="title-gradient title-gradient--about mb-5 dark:text-white font-bold text-3xl">About</h4>
			<div class="flex justify-between items-start flex-col lg:flex-row">
				<img class="hidden lg:block w-full lg:w-80 rounded-lg" src="/me.jpeg" alt="Portrait of Randy Phalla" />
				<div class="lg:ml-8">
					<p class="mb-4 dark:text-white text-base md:text-lg leading-7 md:leading-8">I'm a Full Stack Developer based in London, Ontario. I graduated from Fanshawe college with an advanced diploma in Graphic Design and a certificate in Interactive Media Specialist. I specialize in accessibility, animations and UI/UX.</p>
					<p class="mb-4 dark:text-white text-base md:text-lg leading-7 md:leading-8">I'm currently working at <a class="font-bold hover:text-gray-600 underline underline-offset-2" href="https://devlift.com/" target="_blank" aria-label="Redirect to Devlift Media's site">Devlift Media</a> as a Full Stack Developer. I lead front-end and back-end projects with a focus on web apps and mobile development. In addition, I manage projects, build components, structure layouts, theming, review and debug code, deploy products, develop client relationships, collaborate with designers, developers and clients, and mentor junior developers teaching best practices.</p>
					<p class="mb-4 dark:text-white text-base md:text-lg leading-7 md:leading-8">As a developer, it's important to keep up with the ever evolving tech industry. I am always eager to learn new skills and technologies to add to my skill set.</p>
					<p class="mb-4 dark:text-white text-base md:text-lg leading-7 md:leading-8">Outside of work, I enjoy interactive media, consuming culture through TV and film, and outdoor physical activities.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="skills" class="py-10 px-4 dark:bg-gray-900">
		<h3 class="hidden">Skills</h3>
		<div class="max-w-screen-xl mx-auto">
			<h4 class="title-gradient title-gradient--skills mb-5 dark:text-white font-bold text-3xl">Skills</h4>
			<div class="">
				<p class="mb-4 text-gray-900 dark:text-white text-base md:text-lg leading-7 md:leading-8"><span class="font-bold">Front-end development:</span> HTML5, CSS3 (SCSS), Responsive Web Design, Accessibility, JavaScript (ES6+), TypeScript, Angular (2+), Ionic, React/React Native, Astro, Gulp, Storybook, Material UI, Storybook, Tailwind, and Bootstrap (3+).</p>
				<p class="mb-4 text-gray-900 dark:text-white text-base md:text-lg leading-7 md:leading-8"><span class="font-bold">Back-end development:</span> Firebase, PHP and MySQL.</p>
				<p class="mb-4 text-gray-900 dark:text-white text-base md:text-lg leading-7 md:leading-8"><span class="font-bold">Project management:</span> Trello and JIRA.</p>
				<p class="mb-4 text-gray-900 dark:text-white text-base md:text-lg leading-7 md:leading-8"><span class="font-bold">Tools:</span> Adobe (Photoshop, Illustrator & XD), Figma, Sketch, Microsoft (Teams, Excel & Word), Github, Sourcetree, and Slack.</p>
			</div>
		</div>
	</section>

	<section id="work" class="py-10 px-4 dark:bg-gray-900">
		<h3 class="hidden">Work Experience</h3>
		<div class="max-w-screen-xl mx-auto">
			<h4 class="title-gradient title-gradient--work dark:text-white mb-5 font-bold text-3xl">Work experience</h4>
			<div class="">
				{works.map((work) => (
					<div class="mb-4">
						<h4 class="text-gray-900 dark:text-white font-bold text-base md:text-lg leading-7 md:leading-8">{work.role} <a class="hover:text-gray-600 hover:underline hover:underline-offset-2" href={work.href} target="_blank" aria-label={work.hrefLabel}>@{work.company}</a></h4>
						<p class="text-gray-700 dark:text-gray-300 text-sm md:text-base leading-7">{work.date}</p>
					</div>
				))}
			</div>
		</div>
	</section>

	<section id="education" class="py-10 px-4 dark:bg-gray-900">
		<h3 class="hidden">Education</h3>
		<div class="max-w-screen-xl mx-auto">
			<h3 class="title-gradient title-gradient--education mb-5 dark:text-white font-bold text-3xl">Education</h3>
			<div class="">
				{educations.map((education) => (
					<div class="mb-4">
						<h4 class="text-gray-900 dark:text-white font-bold text-base md:text-lg leading-7 md:leading-8">{education.role} <a class="hover:text-gray-600 hover:underline hover:underline-offset-2" href={education.href} target="_blank" aria-label={education.hrefLabel}>@{education.company}</a></h4>
						<p class="text-gray-700 dark:text-gray-300 text-sm md:text-base leading-7">{education.date}</p>
					</div>
				))}
			</div>
		</div>
	</section>

	<Portfolio
    client:load
    portfolios={portfolioItems}
  />

</Layout>
